@use './mixins' as *;
@use './var';

.card {
    @include flex-center;
}

@media (min-width: 520px) {
    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 1.5rem;
        max-width: 600px;
    }
}