@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// $breakPoints:("small": 450px);

// @mixin breakPoint($value) {
//     @media (min-width: map-get($map:$breakPoints, $key:$value)) {
//         @content;
//     }
// }
